

.etf-name {
  font-size: 40px;
  font-weight: bold;
  text-align: -webkit-center;
  font-family: inherit;
  color: #4c4c4c;
  margin-top: 25px;
  border-bottom: 1px solid #bbb1b1;
  width: 90%;
  margin: auto;
  padding: 25px;
}

h4.etf-description {
  font-size: 17px;
  padding: 35px;
  font-family: sans-serif;
  text-align: justify;
  color: #4a4a4a;
}

.holdings > h3 {
  font-size: 40px;
  font-weight: bold;
  color: #4c4c4c;
  text-align: -webkit-center;
  border-bottom: 1px solid #bbb1b1;
  width: 37%;
  margin: auto;
  padding: 50px 0 40px 0;
}

.sectors > h3 {
  font-size: 40px;
  font-weight: bold;
  color: #4c4c4c;
  text-align: -webkit-center;
  border-bottom: 1px solid #bbb1b1;
  width: 37%;
  margin: auto;
  padding: 50px 0 40px 0;
}

table.gridtable {
  font-family: verdana,arial,sans-serif;
  font-size: 14px;
  color: #333333;
  border-width: 1px;
  border-color: #666666;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: auto;
}

table.gridtable th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #d5e2d8;
  border-radius: 6px;
}

table.gridtable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #af9a9a;
  background-color: #7cb378;
  color: white;
  border-radius: 9px;
}

.hodings-data {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 25px;
}

.sectors-data {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  flex-wrap: wrap;
}

.bar-chart {
  width: 100%;
  overflow: scroll;
  margin: auto;
}

.piechart{
  margin: auto;
}

span.color {
  padding: 6px;
  border-radius: 13%;
  margin-right: 11px;
}

.etf-hist{
  display: flex
}

.hist-spot {
  // width: 100%;
}

li.history-box {
  border: 1px solid gray;
  border-radius: 3px;
  margin: 9px 5px;
  background: #e5ece5;
  padding: 6px;
}

.hist-list {
    width: 93%;
    height: 73vh;
    overflow: scroll;
}

.not-found {
  text-align: -webkit-center;
  color: red;
  font-family: sans-serif;
}

.form-hist {
  display: flex;
}

.form-cont {
  margin-top: 12%;
  width: 80%;
}

ul.history {
  text-align: -webkit-center;
  list-style: none;
  width: 20%;
  position: fixed;
  top: 3em;
  right: 1em;
}

.body-cont{
  width: 97%;
  margin: auto;
}

.logo{
  font-family: cursive;
  font-size: 33px;
  margin-left: 20px;
}

.history > p {
  font-family: cursive;
  font-weight: bold;
  font-size: 31px;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

.etf-spot {
  width: 80%
}

.hist-sym {
    font-weight: 600;
    font-family: sans-serif;
}

.hist-name {
    font-size: 11px;
    color: gray;
}

li.history-box:hover {
    background: #d8ffc6;
    color: black;
    cursor: pointer;
}

span.color {
  border: 1px solid;
}

.tal{
  text-align: right;
}

span.pie-chart {
    padding: 10%;
    text-align: center;
}

.pie-chart-desc-item {
  overflow-x: scroll;
  white-space: nowrap;
  color: #9e8989;
  padding: 0 20px;
}

p.disp-error {
    text-align: -webkit-center;
    font-size: 20px;
    color: #bb7e08;
    font-family: fantasy;
}
