.user-info {
    display: inline-block;
    font-size: 20px;
    margin: 1px 30px;
}

.user-info > span {
  color: #cccbcb;
  font-weight: 800;
  font-size: 27px;
  font-family: cursive;
}

.header-button {
  display: inline-block;
  background: #9cab9c;
  color: while;
  color: white;
  padding: 12px;
  border-radius: 10px;
}

.top-header {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  position: fixed;
  background: #213e1a;
  color: white;
  display: flex;
  justify-content: space-between;
}

input#etf-input {
  display: block;
  margin: auto;
  width: 54%;
  padding: 16px;
  margin-top: 1%;
}

input#etf-submit {
    background: #9cab9c;
    color: white;
    padding: 16px;
    border-radius: 9px;
}

.submit-container {
    margin: auto;
    text-align: -webkit-center;
    padding: 20px;
}

.etf-container {
  width: 90%;
  margin: auto;
  border: 1px solid #cabfbf;
  padding: 13px;
  box-shadow: 0 17px 31px rgba(72, 68, 68, 0.85);
  background: #eff7f3;
  flex-wrap: wrap;
  margin-top: 50px;
}

.etf-inner-container{
  margin: auto;
  border: 1px solid #d2ecd4;
  padding: 13px;
  box-shadow: 0 5px 20px rgba(202, 245, 203, 0.85);
  flex-wrap: wrap;
  margin-top: 50px;
  box-sizing: border-box;
}

body{
  background: red;
}
